/*style.css*/

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.otf.woff');
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
}

html {
    width: 100%;
    height: 100%;
    min-height: 436px; /* height of menu (40px) + toolbar (n*36px) */
}

body {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;

    font-family: "Source Sans Pro";
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 2px;
    text-rendering: geometricPrecision;
    overflow: hidden;
    /*background-color: #232323;*/
}

svg {
  font: 10px sans-serif;
  float:left;
}
.line {
  fill: none;
  stroke: #cccccc;
  stroke-width:0.5px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #cccccc;
  shape-rendering: crispEdges;
}
#graphs{
  width: 1000px;
}
.graph_column{
  width: 450px;
  float: left;
}

h1{
  font-size: 12px;
  font-family: sans-serif;
}