/*style.css*/

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/SourceSansPro-Regular.otf.woff');
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
}

html {
    width: 100%;
    height: 100%;
    min-height: 436px; /* height of menu (40px) + toolbar (n*36px) */
}

body {
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-size: 12px;
    letter-spacing: 2px;
    text-rendering: geometricPrecision;
    overflow: hidden;
    background-color: #000;
}

body, h2.title{
  font-family: "Source Sans Pro";
  font-weight: 100;
  color: white;
}

h2.title {
    text-align: center;
    font-size: 14px;
    margin: 5px 2px;
}
.palette{
   min-height: 40px;
    min-width: 120px;
    padding-top: 10px;
    float: none;
    background-color: black;

}

svg {
  font: 10px sans-serif;
  float:left;
}
.line {
  fill: none;
  stroke: #cccccc;
  stroke-width:0.5px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #cccccc;
  shape-rendering: crispEdges;
}
#graphs{
  width: 1000px;
}
.graph_column{
  width: 450px;
  float: left;
}

h1{
  font-size: 12px;
  font-family: sans-serif;
}


/*flowchart styling*/
.transition{
  
  min-height:50px;
 background-color: #efac1f;
  min-width: 120px

}

.transition_statement {
    min-width: 160px;
    min-height: 50px;
    border: solid 1px #efac1f;
}

.transition_toggle {
    width: 30px;
    height: 30px;
    border: solid 4px #efac1f;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    cursor: pointer;
}

.events {
    background-color: #efac1f;
    min-height: 30px;
    text-align: center;
    padding: 2px;
}

.event_label {
    float: left;
    width: 40px;
    height: 24px;
    padding: 4px;
    font-weight: bold;
    color: white;
}

.event_block {
    float: left;
    min-width: 124px;
    min-height: 24px;
    background-color: black;
    padding: 2px;
}


.state, .expression{
  border:solid 1px #cccccc;
}

.state{
  width: 340px;
  min-height: 100px;
  padding:10px;
 float:left;

}

.setup .state, .die .state {
    width: 40px;
    min-height: 40px;
    height: 40px;
    border: solid 4px #efac1f;
  border-radius: 12px;
}
.setup .state{
  background-color:#50a275;
}

.die .state{
  background-color:#eb4a63;
}

.setup .ep , .die .ep {
  width:10;
  opacity: 0;  
}


.conditionals{
  height: 35px;
  width: 100%;
  background-color: #efac1f;
  padding:10px;

}

.methods{
  margin-top:10px;
  min-height: 20px;
}

.expression {
    height: 30px;
    min-width: 75px;
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
}

div.text_entry, div.property{
float:left;
height:16px;
margin: 0 auto; 
margin-left: 4px;
margin-right: 4px;

}

.text_entry input{
  background-color: transparent;
  border: none;
  color: #fff;
  width:20px;
resize:horizontal;
}

.text_entry input:active{
  width: auto;
}

.text_entry input:focus{
  min-width: 20px;
}

.mapping{
margin-top: 10px;
margin-bottom: 10px;
height: 22px;
}

.block{
width:70px;
border-radius: 6px;
text-align: center;
color: #fff;
padding-left: 5px;
padding-right: 5px;
font-weight: 400;
position: relative;
min-height: 20px;
padding-top: 2px;
}

.block-draggable{
position: absolute;

}


.property{
  background-color:#47c1c3;
  width: 120px;
}

.method{
  background-color:#eb4a63;
  width:100px;
  margin:5px auto;
}

.condition{
     /* min-height: 40px; */
    background-color: transparent;
    /* margin: 5px auto; */
    width: 100%;
    text-align: center;
}

.arrow{
width:26px;
height:6px;
float: left;
margin-top: 10px;
margin-bottom: 10px;
}

.long{
  width: 40px;
}

.transition-arrow{
  height: 100px;
  padding-top: 7px
}

.arrow-left {
  float:left;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; 
  border-right:6px solid #47c1c3; 
  background-color: #000;
}

.arrow-right {
  float:right;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; 
  border-left:6px solid #47c1c3; 
  background-color: #000;
}


.arrow-tail {
    width: 100%;
    height: 6px;
    margin-top: 3px; 
}

.arrow-tail.green{
      background-color: #47c1c3;

}

.arrow-tail.orange{
      background-color: #efac1f;

}

.arrow-left.orange{
  border-right:6px solid #efac1f; 

}

.arrow-right.orange{
  border-left:6px solid #efac1f; 

}

.arrow-left.blue{
  border-right:6px solid #47c1c3; 

}

.transendpoint{
  opacity: 0;
}

/*jsplumb demo- remove */

.demo {
    /* for IE10+ touch devices */
    touch-action:none;
}

.w {
    position: absolute;
    z-index: 4;
    -moz-border-radius: 8px;
    cursor: move;
    background-color: #000;
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
    display: table;
}

.w:hover {
    background-color: #4a4c4d;
}

.aLabel {
    -webkit-transition: background-color 0.25s ease-in;
    -moz-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.aLabel.jsplumb-hover, .jsplumb-source-hover, .jsplumb-target-hover {
    background-color: #1e8151;
    color: white;
}

.aLabel {
    background-color: white;
    opacity: 0.8;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid #346789;
    cursor: pointer;
}

.active, .active .arrow-left {
  animation: color_change 0.05s 1 alternate;
  background-color: #666666;
}

@keyframes color_change{
0% {
    background-color: #000;
}

100% {
    background-color: #666666;
}
}

.ep.front {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
}

.ep {
    width: 10px;
    height: 40px;
    background-color: #efac1f;
    cursor: pointer;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    -moz-transition: -moz-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: 50%;
    display: table-cell;
    vertical-align: middle;

  }

.ep:hover {

}

.statemachine .jsplumb-endpoint {
    z-index: 3;
}

#opened {
    left: 10em;
    top: 5em;
}


.dragHover {
    border: 2px solid orange;
}

path, .jsplumb-endpoint { cursor:pointer; }


.menu_bar{
  width:100%;
  background-color: gray;
  z-index: 100;
  height: 60px;
  padding: 12.5px;
}

button {
    border: none;
    padding: 10px;
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41
}

.behavior_container {
    height: 350px;
    border: 1px solid gray;
    margin: 5px 5px 5px 5px;
    position: relative;
    overflow: hidden;
}

#canvas{
  height: 800px;
  float:left;
  display: -ms-flex; 
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  flex:1; 
}

#palette{
  width: 160px;
  margin: 5px 5px 5px 5px;
  border: 1px solid gray;
  position: relative;
  float:left;

}

.clear-both {
   clear: both;
}


 #main_container{
  margin-bottom:0;
  display: -ms-flex; 
  display: -webkit-flex; 
  display: flex;

  }

ul#palette_menu {
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding:0;
    margin:0;
}
#palette_menu li{
  list-style: none;
  padding: 2px 5px 2px 10px;
}
#palette_menu li.selected {
    list-style: none;
    background-color: grey;
}

#selected_palette{
  padding:0;
}

#selected_palette li{
  margin: 5px 0 5px 0;
   margin: 5px auto 5px auto;

}

.state_palette {
    border: solid white 1px;
    height: 40px;
    width: 120px;
    border-left: solid 10px #efac1f;
    border-right: solid 10px #efac1f;
    padding-top: 10px
}


.setup_palette, .die_palette {
    border: solid #efac1f 1px;
    
     background-color:#50a275;
}
.die_palette{
  background-color: #eb4a63;
}

.generator{
  background-color: #4a89eb;
}
.drag-n-drop{
  position: absolute;
  z-index: 101;
}