<li class="behavior_list" id={{id}}>
	<span class="icon_container">
	<span class="list_title name">{{name}}</span>
	<span role="button" class="list_icon active_toggle"></span>
	<span class="list_icon trash"></span>
	</span>
</li>

