<div parent_id = {{transitionId}} name = {{eventName}} type="transition" class="block transition statement">
  <div class ="transitionName resizeDiv">{{displayName}}</div>
  <div class="transitionConditions resizeDiv">
  {{#if transitionNumberId}}
  <div class= "selectBox selectBoxNumber">
  <input class="selectBoxInput selectBoxNumber" id="{{transitionNumberId}}" type="number" value="1">
  </div>
  {{/if}}
  </div>
      <div class="clearfix"></div>

</div>