   <div class="ep front" action="{{id}}"></div>
    <div class = "state">

    <div class = "stateContainer">
      <h2 class = "title">{{name}}</h2>
        <div class = "mappings"></div>
        </div>

    <div class = "prop_buttonContainer">
    <div id="prop_select" class="prop_button">
    <div class="prop_button-vertical"></div>
    <div class="prop_button-horizontal"></div>
    </div>
    </div>

    </div>

  <div class="ep back" action="{{id}}"></div>
