   <div class="ep front" action="{{id}}"></div>
    <div class = "state">
      <h2 class = "title">{{name}}</h2>
        <div class = "mappings"></div>
    <button id="prop_select" class="prop_button"></button>
        </div>

  <div class="ep back" action="{{id}}"></div>
