/*style.css*/

@font-face {
  font-family: "Source Sans Pro";
  src: url('fonts/SourceSansPro-Regular.otf.woff');
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  border: 0;
  box-shadow: none;
}

html {
  width: 100%;
  height: 100%;
  min-height: 436px; /* height of menu (40px) + toolbar (n*36px) */
}

body {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 12px;
  letter-spacing: 2px;
  text-rendering: geometricPrecision;
  overflow: hidden;
  background-color: #000;
}

h2 {
  font-size: 100%;
  font: inherit;
  margin: 0;
}

body, h2.title{
  font-family: "Source Sans Pro";
  font-weight: 400;
  color: white;
}

h2.title {
  text-align: center;
  font-size: 14px;
  margin: 5px 2px;
}

header h2, .sub-header h3 {
  float: left;
}


svg {
  font: 10px sans-serif;
  float:left;
}
.line {
  fill: none;
  stroke: #cccccc;
  stroke-width:0.5px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #cccccc;
  shape-rendering: crispEdges;
}
#graphs{
  width: 1000px;
}
.graph_column{
  width: 450px;
  float: left;
}

h1{
  font-size: 12px;
  font-family: sans-serif;
}


/*flowchart styling*/
.transition{
 background-color: #efac1f;
 min-width: 120px

}

.transition_statement {
  min-width: 160px;
  min-height: 50px;
  border: solid 1px #efac1f;
}

.transition_toggle {
  width: 30px;
  height: 30px;
  border: solid 4px #efac1f;
  border-radius: 8px;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  cursor: pointer;
}

.events {
  background-color: #efac1f;
  min-height: 35px;
  text-align: center;
  padding: 2px;
}

.event_label {
  float: left;
  width: 20px;
  height: 24px;
  padding: 2px;
  margin-top: 3px;
  font-weight: bold;
  color: white;
}

.transitionConditions {
  padding: 4px;
  margin: 3px -21px 0px 3px !important;
}

.transition-front {
  z-index: 500 !important;
}

.event_block {
  float: left;
  min-width: 124px;
  height: 24px;
  background-color: black;
  padding: 2px;
  border-radius: 8px;
}


.state, .expression{
  border:solid 1px #cccccc;
  background: #000;
}



.start-highlight {
  background-color: #00ff00 !important;
}

.mapping.debug, .method-inspect, .debug-inspect {
 
    background-color: #00ff004d;
    border: 1px solid #0f0;
    border-radius: 6px
}

.method-inspect{
  border-width: 2px;
}

.state-title-inspect {
  background-color: #00ff00;
  color: black;
}

.arrrow-inspect {
  fill: #00ff00;
}

.expression{
  border-radius: 6px;

  }

.state{
  width: auto;
  min-width:800px;
  min-height: 100px;
  padding:10px;
  float:left;
  display: inline-block;
  text-align: right;

}
.state.active{
 background-color: #030 !important
}

.setup .state, .die .state {
  width: 40px;
  min-width: 80px;
  min-height: 40px;
  height: 40px;
  border: solid 1px #efac1f;
  text-align: center;
  font-weight: 900;
  /*border-radius: 12px;*/
}
.setup .state{
  background-color:#50a275;
}

.die .state{
  background-color:#eb4a63;
}

.setup .ep.back , .die .ep.back, .setup .ep.front, .die .ep.front{
 /*opacity: 0;*/ 
/*border-radius: 0*/

}



.conditionals{
  height: 35px;
  width: 100%;
  background-color: #efac1f;
  padding:10px;

}

.methods{
  margin: 10px 5px 5px;
  min-height: 20px;
  min-width: 200px;
  display: inline-block;
  text-align: center;
}

.methodName{
  margin-top:8px;
}

.expression, .selectBox {
  height: 30px;
  min-width: 75px;
  width: auto;
  float: left;
  padding-top: 4px;
  padding-bottom: 4px;
}

.selectBox{
  margin-right: 20px;
}
.selectBoxInput{
  letter-spacing:0;
  width:70px !important;
}

.methodSelect .selectBoxInput {
    width: 100px !important;
}

.methodSelect.selectBoxNumber {
    width: 80px;
    margin-top: 7px;
}

.relative_expression{
  border: none;
  position: relative;
}

div.text_entry, div.property{
  float:left;
  margin: 0 auto; 
  margin-left: 4px;
  margin-right: 4px;
}

.text_entry input{
  background-color: transparent;
  border: none;
  color: #fff;
  width:20px;
  resize:horizontal;
}

.text_entry input:active{
  width: auto;
}

.text_entry input:focus{
  min-width: 20px;
}

.mapping{
    margin-top: 1px;
    margin-bottom: 1px;
    height: 32px;
    display: inline-block;
}

.block{
  border-radius: 6px;
  text-align: center;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 400;
  position: relative;
  min-height: 20px;
  padding-top: 2px;
  display: inline-block;
}

div#STATE_COMPLETE.transition {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.46);
}

span.block {
  margin-left: 2px;
  margin-right: 2px;
}

.palette{
 width: 110px;
 min-width: 110px;
 float: none;
 display: block;
}

ul.collapsibleList {
  cursor: pointer;
  padding: 0;
  margin: 7px 0px 6px 0px;
}

ul.data-block { padding: 0; }

.data-label {
  float: left;
  padding-left: 25px;
}

li.collapsibleListOpen{
  background: url('images/button-closed.png') no-repeat 7px 6px;
  padding: 3px 0px 3px 0px;
  cursor           : pointer;
}

li.collapsibleListClosed{
  background: url('images/button-open.png') no-repeat 7px 6px;
  padding: 3px 0px 3px 0px;
  cursor: pointer;
}

.block-draggable{
  position: absolute;

}


.property, .brush{
  background-color: #eb4a63;
}

.output{
  background-color: #9259bc;
}

.method{
  background-color:#eb4a63;
  min-width:200px;
  margin:8px auto;
  height:35px;
}

.condition{
 /* min-height: 40px; */
 background-color: transparent;
 /* margin: 5px auto; */
 width: 100%;
 text-align: center;
}

.arrow{
  width:26px;
  height:6px;
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.long{
  width: 40px;
}

.transition-arrow{
  height: 100px;
  padding-top: 7px
}

.visible {
  display: inline-block !important;
}

.arrow-left {
  float:left;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; 
  border-right:6px solid #47c1c3; 
  background-color: #000;
}

.arrow-right {
  float:right;
  width: 0; 
  height: 0; 
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent; 
  border-left:6px solid #eb4a63; 
  background-color: #000;
}


.arrow-tail {
  width: 100%;
  height: 6px;
  margin-top: 3px; 
}

.arrow-tail.green{
  background-color: #eb4a63;

}

.arrow-tail.orange{
  background-color: #efac1f;

}

.arrow-left.orange{
  border-right:6px solid #efac1f; 

}

.arrow-right.orange{
  border-left:6px solid #efac1f; 

}

.arrow-left.blue{
  border-right:6px solid #47c1c3; 

}

.transendpoint{
  opacity: 0;
}

/*jsplumb demo- remove */

.demo {
  /* for IE10+ touch devices */
  touch-action:none;
}

.w {
  position: absolute;
  z-index: 4;
  -moz-border-radius: 8px;
  cursor: move;
  background-color: #000;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
  display: table;
}

.w:hover {
  background-color: #4a4c4d;
}

.aLabel {
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.aLabel.jsplumb-hover, .jsplumb-source-hover, .jsplumb-target-hover {
  background-color: #777777;
  color: white;
}

.aLabel {
  background-color: white;
  opacity: 0.8;
  padding: 0.3em;
  border-radius: 0.5em;
  border: 1px solid #346789;
  cursor: pointer;
}

.active, .active .arrow-left {
  animation: color_change 0.05s 1 alternate;
  background-color: #666666;
}

@keyframes color_change{
  0% {
    background-color: #000;
  }

  100% {
    background-color: #666666;
  }
}

.ep.front {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
}

.ep {
  width: 10px;
  height: 40px;
  background-color: #efac1f;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in;
  -moz-transition: -moz-box-shadow 0.25s ease-in;
  transition: box-shadow 0.25s ease-in;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  top: 50%;
  display: table-cell;
  vertical-align: middle;

}

.ep:hover {

}

.statemachine .jsplumb-endpoint {
  z-index: 3;
}

#opened {
  left: 10em;
  top: 5em;
}


.dragHover {
  border: 2px solid orange;
}

path, .jsplumb-endpoint { cursor:pointer; }


.menu_bar{
  width:100%;
  background-color: gray;
  z-index: 100;
  height: 60px;
  padding: 12.5px;
}

button {
  border: none;
  height: 20px;
}
button:hover {
  background-color: #f3f3f3;
}
button:active {
  background-color: #3e8e41
}



input[type="button"]{
  /*background-color: inherit;*/
  border: 1px solid #B2B2B2;
  color: black;
}


.form-group {
  margin-bottom: 10px;
}

.behavior_container {
  height: 100%;
  width: 100%;
  /*border: 1px solid gray;*/
  margin: 0;
  position: relative;
  /*overflow: hidden;*/
}

.canvas-wrapper {
  overflow: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#canvas-container{
  overflow: hidden;
}

#canvas-container:focus{
  outline:none;
  border:none;
  box-shadow:none;
}

#canvas{
  height: 100%;
  float:left;
  display: -ms-flex; 
  display: -webkit-flex; 
  display: flex;
  flex-direction: column;
  flex:1; 
}


#sidebar{
  float:left;
  border: 1px solid gray;
  margin-right:20px;
  width: 160px;

}

.menubar-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  overflow: hidden;
  /*border-bottom: solid 1px #B2B2B2;*/
}
.menubar-container{
  height: 50px;

}

.menubar-container, .properties-container{
  background-color: #5f5f5f;
}

.horz-toolbar{
    height: 100%;
}
.horz-toolbar span{
    float:left;
    margin:10px 10px;
}
.horz-toolbar-section{
    margin-left:10px;
    height:36px;
    float:left;
    margin-top: 10px;
}



.horz-group{
  float:left;
  margin: 0 5px;
}

.horz-group input {
    margin-top: 5px;
}

.horz-group div, .horz-group button {
    display: inline-block;
}
.properties-wrapper.layers-wrapper{
  /*float:left;*/
}

.layers-wrapper .properties-container{
  overflow-y: hidden;
  background: none;

}

.layers-wrapper .properties {
  width: 300px;
}

.properties-container, .proto-container {
  max-height: 100%;
  overflow: hidden;
}

.properties-container, .proto-container {
  overflow-y: scroll;
}

.properties-wrapper {
  display: inline-flex;
  vertical-align: top;
  float: right;
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 50px 0px 0px 0px;
  z-index:100;
}


.properties header{
  padding: 10px;
  box-sizing: border-box;
  line-height: 10pt;
  background-color: rgb(41, 40, 40);
}

.properties, .proto{
  right: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  color: #fbfbfb;
}


.properties-wrapper section {
  position: relative;
}
.section-background {
  padding: 10px;
}
#palette{
  position: relative;
  height: 350px;
  border-bottom: 1px solid gray;
}
#palette_menu {
  width: 90px;
  float: left;
}
#selected_palette {
  width: 160px;
  float: right;
  margin: 0;
}
.filter-palette {
  border-radius: 10px;
  border: 1px;
  height: 1.7em;
  padding-left: 10px;
  margin-left: 15px;
}

.clear-both {
 clear: both;
}

.clearfix {
  clear: both;
  display: block;
}



#main_container{
  margin-bottom:0;
  width:100%;
  height:100%;
  display: -ms-flex; 
  display: -webkit-flex; 
  display: flex;
  /*padding-top: 77px;*/

}
nav ul#behaviorselect{
  height:120px;
  overflow:hidden; 
  overflow-y:scroll;
}
ul.list_menu {
  padding:0;
  margin:0;
  margin-top: 5px;
}
.list_menu li{
  list-style: none;
  padding: 6px 5px 6px 10px;
}
.list_menu li.selected {
  list-style: none;
  background-color: grey;
}
li.behavior_list{
  padding:0;
}
span.icon_container{
  height:30px;
    display: inline-block;
      border-bottom: solid 0.5px #808080;
    width: 100%;

}

span.icon_container.selected{
  
background-color: grey;
}

span.list_title{
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    min-height: 1em;
    padding: 0 3px;
    margin: 4px 0 0 .5em;
}
span.list_icon{
  display: inline-block;
  width: 25px;
  height: 25px;
}
span.behavior_button{
  background-image: url(images/behavior_list_image.svg);
  
  background-position-x: 0;
  background-position-y: -25px;
  background-size: 25px 100px;
  background-repeat: no-repeat;

}
span.active_toggle.active{
  
  background-position-y: 0px;
  background-color: transparent;

}

span.trash{
  
  background-position-y: -50px;

}

span.refresh{
    background-position-y: -75px;
}

#selected_palette{
  width: 160px;
  padding:0;
  text-align: center;
}

.selectel {
  border: solid 1px rgb(170, 170, 170);
  width: 205px;
  margin: 5px 0px 10px 0px;
}
.selectel select {
 background: transparent;
 width: 205px;
 padding: 5px;
 border: 0;
 border-radius: 0;
 height: 15px;
     color: white;
}


#selected_palette li{
  margin: 5px 0 5px 0;
  margin: 5px auto 5px auto;

}

.state_palette {
  border: solid white 1px;
  height: 40px;
  width: 120px;
  border-left: solid 10px #efac1f;
  border-right: solid 10px #efac1f;
  padding-top: 10px
}


.setup_palette, .die_palette {
  border: solid #efac1f 1px;

  background-color:#50a275;
}
.die_palette{
  background-color: #eb4a63;
}

.generator, .sensor, .sensor_prop, .input, .mic, .ui, .ui_prop{
  background-color: #4a89eb;
}
.recording {
    background-color: #a8233c;
}
.imported {
    background-color: rgb(235, 104, 75);
}
/*.sensor, .sensor_prop{
  background-color: #7D4FAE;
}
.mic {
  background-color: #265f55;
}

.ui, .ui_prop{
  background-color: #7fc605;
}
*/

.accessor {
    background-color: #40b6c3;
}


.drag-n-drop{
  position: absolute;
  z-index: 101;
}


.CodeMirror{
  background-color: transparent;
  font-family: "Source Sans Pro";
  color:white;
  font-weight: 400;
}

.CodeMirror-lines{
  padding: 0
}

.CodeMirror-hscrollbar{
  display: none !important;
}

.resizeDiv{
  display:inline-block;
  width: auto;
  float:left;
  margin-right: 2px;
  margin-left: 2px;
}

.statement{
  width:auto;
}

.clearfix {
  clear: both;
  display: block;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tooltip .tooltiptext {
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
}

.tooltip-top {
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip-top::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

 *:before, *:after {
    box-sizing: inherit;
}

.overlay_display {
 z-index: 1000;
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 background:#fff;
 opacity: 0.7;
}

#overlay_dialog {
       width: 400px;
    height: 60px;
    left: 50%;
    margin-left: -200px;
    color: black;
    text-align: center;
    margin-top: 100px;
    opacity: 1.0;

}
.overlay_display.invisible {
    display: none;
}

/* Dropdown Button */
.dropbtn {
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #939393;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    cursor: pointer;

}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.inspector_box{
  height:30px;
  background-color: #fff;
  position: absolute;
  padding:7px;
  z-index: 1000;
  color: #000;
  top: 30px;
  left: 20px;
}

#inspector-output {
  position:absolute;
  right:0px;
}

.inspector_box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

/*Lawrence new code*/

.prop_buttonContainer {
  position: relative;
  margin: 5px;
  height: 20px;
}

.prop_button {

position: absolute;
    right: 4px;
    width: 110px;
    height: 20px;
    border: 1px dotted white;
    border-radius: 5px;
}

.prop_button div {

    position: absolute;
    background: white;
}

.prop_button-vertical {

    top: 5px;
    left: 50%;
    width: 1px;
    height: 10px;
}

.prop_button-horizontal {

   top: 9px;
    width: 10px;
    height: 1px;
    left: 50px;
}


.context-menu-list  {
  position: absolute;
  top: 5px;
  right: 10px;
    list-style: none;
    background: white;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 60px;
    z-index: 10;
}

.context-menu-item .property_menu_item {
  height: 16px;
    text-align: left;
    background: grey;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
    color: white;
    z-index: 10;
}

.triangleDown {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
  margin-top: 4px;
  margin-right: 2px;
}

.triangleDownContainer{
  float: right;
  padding-left: 2px;
  border-left: 1px solid white;
  height: 100%;
}


  /* menu header via data attribute */
   .property_menu:before, .methods_menu:before {
     content: "add new action";
    display: block;
    /* position: absolute; */
    top: 0;
    right: 0;
    left: 0;
    background: #DDD;
    padding: 2px;
    padding-left: 8px;
    font-size: 12px;
    font-weight: bold;
    color: black;
  }
/* menu header via data attribute */
   .property_menu:before {
   content: "add new mapping";
  }

  .property_menu:first-child, .methods_menu:first-child {
        margin-top: 20px;
    }

/* actions */
.methodArguments {
  overflow: hidden;
}
.argumentLabel {
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 0px 6px 0px 8px;
}
.methodsContainer {
}

/* debug inspector */
.debug-wrapper {
  position: absolute;
  bottom: 20px;
  left: 20px; 
  max-height: 400px;
  width: 680px;
}
.inspector-container {
  float: left;
  min-width: 200px;
  max-height: 400px;
  border: 1px solid gray;
  background-color:#202020;
  overflow-y: scroll;
  margin-right: 5px;
}
.sub-group-inspector {
  padding: 5px 10px 0 10px; 
  margin: 0;
}
.sub-sub-group-inspector {
  padding: 3px 3px 3px 10px; 
  margin: -5px -10px 5px -10px;
  background-color: #555;
}
.group-title-inspector {
  margin: 0;
  padding: 5px;
}
.hr-inspector {
  margin-bottom: 0px;
}


.sub-group-inspector li{
    list-style-position: inside;
    border-radius: 6px;
}
 

