<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DynamicBrushes_dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Palette-Knife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F1109241ECE248E000FBF24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F1109371ECE248E000FBF24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F1109421ECE248E000FBF24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FA4C71F1CDA7B5B004A728C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FA4C7331CDA7B5B004A728C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FA4C73E1CDA7B5B004A728C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
