<div id="{{id}}" class = "mapping">
  <div class = "expression">
      <div class="block property palette">{{relativePropertyName}}</div>
         </div>
        <div class = "arrow">
              <div class="arrow-left green"></div>
              <div class="arrow-tail green"></div>
            </div> 
            <div class = "expression">       
        <div class="block property">{{reference}}</div>      <div class="text_entry">
              <input type="text" value="{{reference_text}}" size= "1"/>    
              </div>
              </div>
          </div>
    </div>
</div>