//palette template

<ul id="palette_menu">
  <li class = "selected">states</li>
  <li>brush properties</li>
  <li>sensor properties</li>
  <li>brush methods</li>
  <li>events</li>
</ul>
<ul id = "selected_palette">
{{#each items}}
 <li class = {{lass}}}>{{name}}</li>
 {{/each}}
</ul>